.button {
    color: rgb(229, 229, 229);
    background-color: rgb(40, 40, 40);
    border: 1px solid rgb(90, 90, 90);
    transition : background-color 0.15s ease,
                border 0.15s ease,
                color 0.15s ease;
    border-radius: 6px;

    &:hover {
        background-color: rgb(61, 61, 61);
    }

    &.green {
        color: rgb(255, 255, 255);
        background-color: rgb(16, 163, 127);
        border: 1px solid rgb(19, 131, 103);

        &:hover {
            background-color: rgb(26, 127, 100);
        }
    }

    &.red {
        background-color: rgb(93, 12, 12);
        border: 1px solid rgb(131, 19, 19);

        &:hover {
            background-color: rgb(127, 26, 26);
        }
    }

    &.transparent {
        color: rgb(229, 229, 229);
        background-color: transparent;
        border: 0px;

        &:hover {
            background-color: rgba(255, 255, 255, 0.1);
        }
    }

    &.disabled {
        color: rgb(153, 153, 153);
        background-color: rgb(40, 40, 40);
        border: 0px;
        cursor: default !important;

        &:hover {
            background-color: rgb(40, 40, 40);
        }
    }
}
