.monaco-hover {
    max-width: 1000px !important;
    word-wrap: break-word;
}
  
.monaco-hover .hover-row {
    padding: 0px;
    min-height: 2em;
}
  
.monaco-hover .markdown-hover {
    white-space: pre-wrap;
    font-family: monospace;
    font-size: 8px;
    line-height: 12px;
}
  