# 설정 파일
.vscode/

# dependencies
node_modules/

# production
build/
dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

apikey
.prompts/

.docs.md

out/
dist/
/electron/temp.js