# 설정 파일
# .vscode/

# dependencies
node_modules/

# lock files
package-lock.json
yarn.lock

# output
dist/
build/
out/
release/

# test
coverage/

# misc
.npmrc
.tsbuildinfo*
.rollup.cache

# 임시 파일
front-old/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

