.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #7983ff;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 0.75s ease infinite;
}
  
@keyframes spin {
 from {
    transform: rotate(0turn);
 }
 to {
    transform: rotate(1turn);
 }
}
  
  