button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Malgun Gothic", "굴림", "Gulim", "Arial";
    font-weight: 600;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
    color: white;
    background-color: rgb(117, 128, 255);
    transition: background-color 0.3s ease, transform 0.2s ease;
    transform: scale(1.0);
}

button:hover {
    cursor: pointer;
    background-color: rgb(130, 141, 255);
    transform: scale(0.96);
}

button:active {
    transform: scale(0.85);
}

input[type="text"] {
    cursor: auto;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 7.5px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    border-radius: 4px;
}
input[type="checkbox"]:hover {
    cursor: pointer;
    transform: scale(0.9);
}
input[type="checkbox"]:active {
    transform: scale(0.85);
}

input[type="radio"] {
    width: 18px;
    height: 18px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
input[type="radio"]:hover {
    cursor: pointer;
    transform: scale(0.95);
}
input[type="radio"]:active {
    transform: scale(0.8);
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.search {
    --padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;

    width: max-content;
    background-color: #dddddd;
    border-radius: 30px;
    padding-left: var(--padding);
}
.search input {
    flex: 1;
    
    border-radius: 0px;
    background-color: transparent;
    border: none;
    height: unset;
    padding: 0px;
}
.search input:focus {
    outline: none;
}
.search input::placeholder {
    color: rgb(59, 59, 59);
}

.search .material-symbols-outlined {
    font-size: 20px;
    margin: 4px;
}