$loader-width: 5px;

.loader-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: end;
    width: 100%;
    height: 100%;
}

.loader {
    border: $loader-width solid rgb(172, 172, 172);
    border-top: $loader-width solid #3498db;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-text {
    color: white;
    font-size: 25px;
    align-self: center;
    margin-right : 15px;
    font-weight: 500;
}

.loaded-list {
    .loaded {
        color: rgb(217, 217, 217);
    }
    .loading {
        color: rgb(111, 111, 111);
    }
}