:root {
    --textarea-font-size: 1rem;
}
.theme-dark {
    --textarea-font-color : white;
    --textarea-alert-font-size : 14px;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

#app-main {
    display: flex;
    flex: 1;
    margin: 0px 0px;
    overflow: hidden;
}

.input-section-textarea {
    margin: 4px;
    font-family: 'NanumGothic', sans-serif;
    border-color: transparent;
    background-color: transparent;
    font-size: var(--textarea-font-size);
    color: var(--textarea-font-color);
    line-height: 1.6;
    resize: none;
    outline: none;
    flex: 1;
    padding-bottom: 60px;
    
    overflow-x: hidden;
    overflow-y: auto;
}

.output-section {
    display: flex;
    flex-direction: column;
    flex : 1;
    
    margin: 4px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    padding-bottom: 60px;
    
    resize: none;
    outline: none;
}

.clipboard-icon--- {
    &.activate span {
        color : rgb(146, 215, 241);
        text-shadow: 0 0 5px rgba(146, 215, 241, 0.5);
        transition: 0.1s ease color, 0.1s ease text-shadow;
    }
    &.deactivate span {
        transition: 0.2s ease color, 0.2s ease text-shadow;
    }
    
}

.output-section-textarea {
    margin: 8px;
    font-size: var(--textarea-font-size);
}

.output-section-textarea pre {
    font-family: inherit;
    font-size: inherit;
    margin: 0px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: none;
}

.output-section-textarea p {
    font-family: inherit;
    font-size: inherit;
    margin-top: 0px;
    margin-bottom: 16px;
    color :rgb(146, 148, 152);
}

.token-display-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: var(--textarea-alert-font-size);
    color: grey;
}

#load-fail-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    h2 {
        font-size: 1.5em;
        color: var(--warn-color);
    }
    .reason {
        font-size: 1.1em;
        color: var(--text-color);
        font-weight: bold;
    }
    .detail {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 4px;
        line-height: 1.6;
        color: var(--subtext-color);
        font-size: 1em;
        
        resize: none;
        outline: none;
    }
}

