input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-number {
    padding : 0px 6px;
    width: 7em;
    height : 100%;
    border : 1px solid rgb(138, 138, 138, 0.5);
    // background-color: rgb(41, 46, 53);
    border-radius: 6px;
}

button.form-button {
    transition: background-color 0.15s ease;
    font-size: 0.8em;
    
    border: none;
    border-radius: 6px;
    
    background-color: rgb(41, 46, 53);
    color: white;
    cursor: pointer;
    
    &:hover {
        background-color: rgb(51, 56, 63);
    }
}