.profile-input {
    border: 1px solid #525252;
}

.rect-button {
    width : 48px;
    height : 48px;
    font-size: 28px;
    cursor: pointer;
    
    background-color: rgb(71, 71, 71);
    border-radius: 8px;
}