.secondary-color {
    color: var(--text-color-secondary);
}

.secondary-text {
    color: var(--text-color-secondary);
}

.subtle-text {
    color: var(--text-color-subtle);
}

.dimmed-color {
    color: var(--dimmed-text-color);
}