.scrollbar::-webkit-scrollbar {
    width: 5px;
    cursor: auto;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: rgb(129, 129, 129, 0.5);
    border-radius: 2px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 141, 39, 0.8);
}

.scrollbar::-webkit-scrollbar-track {
    background: rgb(51, 48, 48);
}
