@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");

.theme-light {
    background-color: rgb(245, 247, 248);

    --text-color: black;
    --title-color: rgb(9, 26, 43);
    
    --field-color: rgb(208, 212, 214);
    
    --icon-theme-color: black;
}

.theme-dark {
    background-color: rgb(23, 23, 23);

    --text-color: white;
    --title-color: rgb(180, 180, 172);

    --field-color: rgb(47, 47, 47);

    --icon-theme-color: rgb(180, 181, 184);
}


body {
    font-family: 'NanumGothic', sans-serif;
    width: 100%;
    height: 100%;
    
}

header {
    color: var(--title-color);
    font-size: 24px;
    font-weight: bold;
    margin: 16px 16px 0px 16px;
}

footer {
    margin: 0px 16px 12px 16px;
    height: 35px;
}

.fontstyle {
    font-family: 'NanumGothic', sans-serif;
}

.translate-input {
    margin: 16px;
    border-color: transparent;
    background-color: transparent;
    font-size: 18px; /* 폰트 크기 키우기 */
    line-height: 1.6; /* 줄 간격 늘리기 */
    resize: none;
    outline: none;
    color: var(--text-color);
}

.translate-input-container {
    margin: 16px;
    border-radius: 6px;
    background-color: var(--field-color);
    font-size: 18px; /* 폰트 크기 키우기 */
    line-height: 1.6; /* 줄 간격 늘리기 */
    resize: both;
    border: 1px solid rgb(118, 118, 118);
}

.translate-output-container {
    margin: 16px;
    border-radius: 6px;
    background-color: var(--field-color);
    color: var(--text-color);
    resize: both;
    border: 1px solid rgb(118, 118, 118);
    overflow: none;
}

.translate-output-container p {
    margin: 0px;
}

.translate-output {
    margin: 16px;
    font-size: 18px; /* 폰트 크기 키우기 */
    line-height: 1.6; /* 줄 간격 늘리기 */
    color: var(--text-color);
    flex-wrap: wrap;
    overflow-y: auto;
}

.block {
    display: block;
}

img.rotate {
    animation: rotateImage 1.2s ease infinite;
}

#translate-button {
    transition: 0.3s transform ease;
    transform: scale(1.2);
    cursor: pointer;
}
#translate-button:hover {
    transform: scale(1.3);
    cursor: pointer;
}
#translate-button:active {
    transform: scale(1.1);
    cursor: pointer;
}

.translate-output .copy-button-container {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.translate-output .token-display-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    color: grey;
}

#copy-button {
    transition: 0.3s transform ease;
    transform: scale(0.9);
    cursor: pointer;
}
#copy-button:hover {
    transform: scale(1.0);
    cursor: pointer;
}
#copy-button:active {
    transform: scale(0.8);
    cursor: pointer;
}

@keyframes rotateImage {
    from {
        transform: rotate(0deg) scale(1.1); /* 회전 시작 각도 */
    }
    to {
        transform: rotate(360deg) scale(1.1); /* 회전 종료 각도 */
    }
}

.clickable {
    cursor: pointer;
}

#setting-button {
    transform: scale(1.0);
    transition: transform 0.3s ease;
}
#setting-button:hover {
    transform: scale(1.1);
}
#setting-button:active {
    transform: scale(0.9);
}

#output-section {
    position: relative;
}

#output-container p {
    margin-bottom: 16px;
    color :rgb(146, 148, 152);
}

#output-container em {
    color: rgb(237, 163, 85);
    margin-bottom: 16px;
}

#output-container code {
    color :rgb(177, 222, 232);
    margin-bottom: 16px;
}

.seprate-section {
    width: 48px;
}

.say {
    color: white;
}

.think {
    color: rgb(240, 180, 108);
}


.button-theme-change {
    color : white;
    font-size: 30px;
}

.icon-button-container {
    width : 40px;
    height : 40px;
}

.icon-clickable-animation {
    cursor: pointer;
    transform: scale(1.0);
    font-size: 1em;
    color: var(--icon-theme-color);
    transition: font-size 0.3s ease;
}
.icon-clickable-animation:hover {
    font-size: 1.1em;
}
.icon-clickable-animation:active {
    font-size: 0.9em;
}

.clickable-animation {
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.3s ease;
}
.clickable-animation:hover {
    transform: scale(1.1);
}
.clickable-animation:active {
    transform: scale(0.9);
}

.textplace {
    margin: 16px;
    border-radius: 6px;
    background-color: var(--field-color);
    color: var(--text-color);
    resize: both;
    border: 1px solid rgb(118, 118, 118);
    overflow: none;
}

.warning {
    color: rgb(194, 111, 111) !important;
}

.warning-display-container {
    position: absolute;
    left: 10px;
    bottom: 30px;
    font-size: 16px;
    color: rgb(194, 111, 111) !important;
}

a {
    color: inherit;
    text-decoration: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer !important;
}