.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 100;

    transition : opacity 0.3s;
    opacity: 1;

    &.disappear {
        opacity: 0.0;
    };
}

.modal {
    background-color: rgb(23, 23, 23);
    border: 1px solid #4c4c4c;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 600px;
    display: block;

    transition : transform 0.3s ease, opacity 0.3s ease;
    transform: scale(1);
    opacity: 1;

    &.disappear {
        transform: scale(0.9);
        opacity: 0.0;
    };
}
