.model-provider {
    --dropdown-background-color: rgba(24, 24, 24, 0.8);
    --dropdown-item-border-radius : 10px;
}

.dropdown2 {
    position: relative;
    display: inline-block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.dropdown2-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size : var(--dropdown-font-size);
    font-weight: var(--dropdown-font-weight);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-background-color);
    border-radius: var(--dropdown-header-border-radius);
    
    padding: 10px 10px;
}

.dropdown2-header:hover {
    background-color: var(--dropdown-hover-background-color);
}

.dropdown2-list {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-size : var(--dropdown-font-size);
    border: 1px solid var(--dropdown-border-color);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-background-color);
    border-radius: var(--dropdown-item-border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown2-sublist {
    position: absolute;
    display: flex;
    flex-direction: column;

    font-size : var(--dropdown-font-size);
    border: 1px solid var(--dropdown-border-color);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-background-color);
    border-radius: var(--dropdown-item-border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.dropdown2-item {
    padding: 10px;
    cursor: pointer;
    border-radius: var(--dropdown-item-border-radius);
    font-weight: var(--dropdown-font-weight);
    height: var(--dropdown-item-height);
    white-space: nowrap;
    display: flex;
    flex-grow : 1;
    align-items : center;
}

.dropdown2-item:hover {
    background-color: var(--dropdown-item-color);
}

.dropdown2.model-provider .dropdown2-header {
    background-color: transparent;
}
.dropdown2.model-provider .dropdown2-header:hover {
    background-color: var(--dropdown-model-provider-hover-background-color);
    border-radius: 10px;
}

@media screen and (max-width: 900px) {
    .responsive.dropdown2 {
        --dropdown-font-size: 15px;
        --dropdown-header-border-radius : 10px;
        --dropdown-item-border-radius : 10px;
        --dropdown-item-height : 10px;
    }
    .responsive.dropdown2-list {
        --dropdown-font-size: 15px;
        --dropdown-header-border-radius : 10px;
        --dropdown-item-border-radius : 10px;
        --dropdown-item-height : 10px;
    }
    .responsive .dropdown2-header {
        padding: 5px 8px;
    }
    .responsive.dropdown2-sublist {
        --dropdown-font-size: 15px;
        --dropdown-header-border-radius : 10px;
        --dropdown-item-border-radius : 10px;
        --dropdown-item-height : 10px;
    }
    .responsive.model-provider {
        --dropdown-item-border-radius : 6px;
    }    
}
