:root {
    --footer-height: 35px;
    --footer-text-size : 15px;
}

.theme-dark {
    --version-text-color : rgb(61, 60, 68);
}

#app-footer {
    display: flex;
    flex: none;
    margin: 16px 24px 12px 16px;
    height: var(--footer-height);
    transition: 0.3s margin;
}

#app-footer .browse-button {
    width: var(--footer-height);
    height: var(--footer-height);
    cursor: pointer;
    transform: scale(1.0);
    transition: transform 0.3s ease;
}
#app-footer .browse-button:hover {
    transform: scale(1.1);
}
#app-footer .browse-button:active {
    transform: scale(0.9);
}

.footer-version-container {
    font-size: var(--footer-text-size);
    height: 100%;
}
.footer-version {
    color: var(--version-text-color);
}

.footer-newversion-text  {
    color: rgb(0, 123, 0);
    cursor: pointer;
    transition: color 0.2s;
}

.footer-newversion-text:hover {
    color: rgb(0, 168, 0);
}

#app-footer .font-button-container {
    position: relative;
    width: var(--footer-text-size);
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#app-footer .font-button {
    font-size: 30px;
}

#app-footer .font-button:hover {
    font-size: 32px;
}

#app-footer .font-button:focus {
    font-size: 28px;
}

#app-footer .footer-pad {
    width: 8px;
    transition: 0.3s width;
}

@media screen and (max-width: 900px) {
    #app-footer {
        --footer-height: 30px;
        --footer-text-size : 12px;
        margin: 4px 4px 4px 4px;
    }
    #app-footer .browse-button {
        transform: scale(0.9);
    }
    #app-footer .browse-button:hover {
        transform: scale(1.0);
    }
    #app-footer .browse-button:active {
        transform: scale(0.8);
    }
    #app-footer .footer-pad {
        width: 4px;
    }
}