:root {
    --header-height : 46px;
    --font-icon-size : 46px;
    --title-font-size : 24px;
}

#app-header {
    display: flex;
    flex: none;
    flex-direction: row;
    white-space: nowrap;
    height: var(--header-height);
    margin: 16px 16px 16px 16px;
    transition: 0.3s height;
}

#app-header .font-button-container {
    width: var(--header-height);
    height: var(--header-height);
    font-size: var(--font-icon-size);
    color: white;
}

#app-header .title {
    font-size : var(--title-font-size);
    color: var(--title-color);
    font-weight: bold;
}

#app-header .pad {
    width: 10px;
    transition: 0.3s width;
}
#app-header .small-pad {
    width: 6px;
    transition: 0.3s width;
}
#app-header .expanded {
    display: flex;
    flex: 1;
}
#app-header .dropdown-pad {
    width: 15px;
}

@media screen and (max-width: 900px) {
    #app-header {
        margin: 8px 8px 6px 4px;

        --header-height : 30px;
        --font-icon-size : 30px;
    }
    #app-header .dropdown-pad {
        width: 8px;
    }
    #app-header .pad {
        width: 5px;
    }
    #app-header .small-pad {
        width: 3px;
    }
}
