.markdown {
  display: flex;
  flex-direction: column;
  --normal :rgb(146, 148, 152);
  --think : rgb(237, 163, 85);
  --say : white;
  --accent : rgb(177, 222, 232);
}

.markdown p {
    margin-top: 0px;
    margin-bottom: 16px;
    color : var(--normal);
}

.markdown h2 {
    margin: 0px;
}


.markdown code {
  color :rgb(177, 222, 232);
  margin-bottom: 16px;
}

.markdown ul {
  margin-top: 4px;
  margin-bottom: 4px;
}

/* ** 생각 */
.markdown em {
  color: var(--think);
  margin-left: 4px;
  margin-right: 4px;
}

.markdown .say {
  color: white;
}

.markdown .accent {
  color: var(--accent);
}