.button-red {
    color: var(--warn-color);
}

.button-red:hover {
    background-color: var(--warn-background-color);
}

.button-red:active {
    transform: scale(0.95);
}

.shadow {
    box-shadow: 0 0.5px 4px rgba(0, 0, 0, 0.2);
}

.update-message {
    color: rgb(0, 123, 0);
    cursor: pointer;
    transition: color 0.2s;
}

.update-message:hover {
    color: rgb(0, 168, 0);
}

.footer-version-container {
    font-size: 15px;
    padding-left: 10px;
    height: 100%;
}

.footer-version {
    color: rgb(61, 60, 68);
}