.button-red {
    color: var(--warn-color);
}

.button-red:hover {
    background-color: var(--warn-background-color);
}

.button-red:active {
    transform: scale(0.95);
}

.shadow {
    box-shadow: 0 0.5px 4px rgba(0, 0, 0, 0.2);
}

.background-test {
    background-color: rgba(157, 0, 255, 0.04);
}

#home {
    transition: 0.3s ease background-color;
    background: linear-gradient(var(--background-color), transparent);
}

#home.red {
    background-color : var(--background-red);
}
#home.orange {
    background-color : var(--background-orange);
}
#home.yellow {
    background-color : var(--background-yellow);
}
#home.green {
    background-color : var(--background-green);
}
#home.lime {
    background-color : var(--background-lime);
}
#home.aqua {
    background-color : var(--background-aqua);
}
#home.blue {
    background-color : var(--background-blue);
}
#home.purple {
    background-color : var(--background-purple);
}