:root {
    --slot-menu-fontsize : 14px;
}

.theme-dark {
    --slot-selected-color : rgb(116, 161, 233);

    --slot-menu-background-color : rgb(47, 47, 47);
    --slot-menu-border-color : rgb(68, 68, 68);
    --slot-bgcolor: rgb(47, 47, 47);
    --slot-hover-color: rgb(83, 83, 83);
    --slot-select-color: rgb(62, 65, 74);
    --slot-alert-green-color: rgb(68, 103, 26);
    --slot-alert-green-accent-color: rgb(81, 125, 20);
    --slot-alert-red-color: rgb(103, 26, 26);
    --slot-alert-red-accent-color: rgb(125, 20, 20);
}

.session-slot {
    position: relative;
    display: flex;
    flex: none;
    justify-content: center;
    align-items: center;

    margin-left: 4px;
    border-radius: 6px;
    
    color: var(--text-color);
    background-color: var(--slot-bgcolor);
    border: 1px solid rgb(118, 118, 118);
    transition: 0.3s background-color  ease;

    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    
    aspect-ratio: 1 / 1;
    cursor : pointer;
}

.session-slot.selected {
    color: var(--slot-selected-color);
}

.session-slot:hover {
    background-color: var(--slot-hover-color);
}

.session-slot-menu-container {
    position: absolute;
    
    border-radius: 8px;
    background-color: var(--slot-menu-background-color);
    border: 1px solid var(--slot-menu-border-color);
    overflow: hidden;

    z-index: 10;
}

.session-slot-menu {
    color: white;

    padding: 4px 10px;
    min-width: 140px;
    font-size: var(--slot-menu-fontsize);
    
    transition: 0.3s ease background-color;
}

.session-slot-menu.red {
    background-color : var(--background-red);
}
.session-slot-menu.orange {
    background-color : var(--background-orange);
}
.session-slot-menu.yellow {
    background-color : var(--background-yellow);
}
.session-slot-menu.green {
    background-color : var(--background-green);
}
.session-slot-menu.lime {
    background-color : var(--background-lime);
}
.session-slot-menu.aqua {
    background-color : var(--background-aqua);
}
.session-slot-menu.blue {
    background-color : var(--background-blue);
}
.session-slot-menu.purple {
    background-color : var(--background-purple);
}

.session-slot-menu .item {
    width: 100%;
    margin: 1px 0px;
}

.session-slot-button {
    font-size: 20px;
}

.session-slot-menu .bottom {
    justify-content: flex-end;
    margin: 5px;
    min-height: 12px;
    padding-right: 8px;
}

.session-slot-menu .colorbox {
    border-radius: 4px;
    border: 1px solid rgb(130, 130, 130);
    width: 14px;
    height: 14px;
    margin: 2px;
}

.session-slot-tooltip {
    position: absolute;
    width: auto;
    white-space: nowrap;
    padding: 6px;

    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    font-size: 14px;
    font-weight: 400;

    color: var(--tooltip-text-color);
    background-color: var(--tooltip-background-color);
    border: 1px solid var(--tooltip-border-color);

    z-index: 5;
}

.session-slot-tooltip .item {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.session-slot.complete {
    animation: animation-slot-complete 3s infinite;
}
.session-slot.error {
    animation: animation-slot-error 3s infinite;
}
.session-slot.loading {
    animation: animation-slot-loading 3s infinite;
}

@keyframes animation-slot-loading {
    0% {
        background-color: var(--slot-bgcolor);
    }
    50% {
        background-color: rgb(54, 60, 71);
    }
    100% {
        background-color: var(--slot-bgcolor);
    }
}
@keyframes animation-slot-complete {
    0% {
        background-color: var(--slot-bgcolor);
    }
    50% {
        background-color: rgb(72, 102, 73);
    }
    100% {
        background-color: var(--slot-bgcolor);
    }
}
@keyframes animation-slot-error {
    0% {
        background-color: var(--slot-bgcolor);
    }
    50% {
        background-color: rgb(90, 57, 57);
    }
    100% {
        background-color: var(--slot-bgcolor);
    }
}

.slot-alert-fail {
    border: 1px solid rgb(110, 65, 65);
    animation: animation-alert-fail 4s infinite;
}
