.prompt-slots-container {
    padding-right : 16px;
}

.prompt-slot {
    position: relative;
    margin-left: 4px;
    border-radius: 6px;
    
    color: var(--text-color);
    background-color: var(--slot-color);
    border: 1px solid rgb(118, 118, 118);
    transition: 0.3s background-color  ease;

    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    
    aspect-ratio: 1 / 1;
    cursor : pointer;
}

.prompt-slot.selected {
    color: rgb(116, 161, 233);
    /*background-color: var(--slot-select-color);*/
}

.prompt-slot:hover {
    background-color: var(--slot-hover-color);
}

.session-contextmenu-container {
    position: absolute;
    background-color: var(--field-color);
    z-index: 100;
    border-radius: 8px;
    border: 1px solid rgb(68, 68, 68);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.session-contextmenu {
    color: white;
    border-radius: 8px;
    padding: 4px 10px;
    min-width: 140px;
    font-size: 14px;
    transition: 0.3s ease background-color;
}

.session-contextmenu.red {
    background-color : var(--background-red);
}
.session-contextmenu.orange {
    background-color : var(--background-orange);
}
.session-contextmenu.yellow {
    background-color : var(--background-yellow);
}
.session-contextmenu.green {
    background-color : var(--background-green);
}
.session-contextmenu.lime {
    background-color : var(--background-lime);
}
.session-contextmenu.aqua {
    background-color : var(--background-aqua);
}
.session-contextmenu.blue {
    background-color : var(--background-blue);
}
.session-contextmenu.purple {
    background-color : var(--background-purple);
}

.slot-alert-success {
    animation: animation-alert-success 3s infinite;
}
@keyframes animation-alert-success {
    0% {
        background-color: var(--slot-alert-green-color);
    }
    50% {
        background-color: var(--slot-alert-green-accent-color);
    }
    100% {
        background-color: var(--slot-alert-green-color);
    }
}

.slot-alert-fail {
    border: 1px solid rgb(110, 65, 65);
    animation: animation-alert-fail 4s infinite;
}
@keyframes animation-alert-fail {
    0% {
        border-color: rgb(110, 65, 65);
    }
    50% {
        border-color: rgb(141, 85, 85);
    }
    100% {
        border-color: rgb(110, 65, 65);
    }
}

.slot-list-item {
    margin: 1px 0px;
}

.slot-colorbox {
    border-radius: 4px;
    border: 1px solid rgb(130, 130, 130);
    width: 14px;
    height: 14px;
    margin: 2px;
}

.menu-item {
    width : 150px;
    margin : 1px;
    padding : 3px;
    overflow: hidden;
    text-wrap: nowrap;
    border-radius: 8px;
    cursor : pointer;
    font-weight: 600;
    font-size: 16px;
}

.menu-item:hover {
    background-color: #f1f1f124;
}

.menu-item span {
    margin-right: 4px;
}

.menu-item:hover {
    background-color: #f1f1f124;
}

.menu-item.red {
    color: var(--warn-color);
}

.prompt-slot-tooltip {
    position: absolute;
    z-index: 5;
    width: auto;
    white-space: nowrap;
    padding: 6px;

    border-radius: 4px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    font-size: 14px;
    font-weight: 400;

    color: var(--tooltip-text-color);
    background-color: var(--tooltip-background-color);
    border: 1px solid var(--tooltip-border-color);
}

.prompt-slot-tooltip-text {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}