.prompt-slots-container {
    padding-right : 16px;
}

.prompt-slot {
    position: relative;
    margin-left: 4px;
    border-radius: 6px;
    
    color: var(--text-color);
    background-color: var(--slot-color);
    border: 1px solid rgb(118, 118, 118);
    transition: 0.3s background-color  ease;

    font-size: 18px;
    line-height: 1.6;
    font-weight: bold;
    
    aspect-ratio: 1 / 1;
    cursor : pointer;
}

.prompt-slot.selected {
    background-color: var(--slot-select-color);
}

.prompt-slot:hover {
    background-color: var(--slot-hover-color);
}

.prompt-slots-context-menu {
    position: absolute;
    color: white;
    z-index: 100;
    background-color: var(--field-color);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 8px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.menu-item {
    width : 150px;
    margin : 1px;
    padding : 3px;
    overflow: hidden;
    text-wrap: nowrap;
    border-radius: 8px;
    cursor : pointer;
    font-weight: 600;
}

.menu-item:hover {
    background-color: #f1f1f124;
}

.menu-item span {
    margin-right: 4px;
}

.menu-item:hover {
    background-color: #f1f1f124;
}

.menu-item.red {
    color: var(--warn-color);
}

.prompt-slot-tooltip {
    position: absolute;
    color: white;
    z-index: 5;
    background-color: var(--field-color);
    border: 1px solid rgb(68, 68, 68);
    border-radius: 8px;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 8px;
    font-size: 14px;
    font-weight: 400;
    width: auto;
    white-space: nowrap;
}