.textarea-input-container {
    margin: 16px;
    border-radius: 6px;
    background-color: var(--field-color);
    resize: both;
    border: 1px solid rgb(118, 118, 118);
}

.textarea-input {
    margin: 8px;
    border-color: transparent;
    background-color: transparent;
    font-size: 18px;
    line-height: 1.6;
    resize: none;
    outline: none;
    color: var(--text-color);
}

.textarea-output-container {
    margin: 16px;
    border-radius: 6px;
    background-color: var(--field-color);
    color: var(--text-color);
    resize: both;
    border: 1px solid rgb(118, 118, 118);
    overflow: none;
    position: relative;
}

.textarea-output {
    margin: 16px;
    font-size: 18px;
    line-height: 1.6;
    color: var(--text-color);
    flex-wrap: wrap;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-all;
    
    resize: none;
    outline: none;
    flex : 1;
    
}

.textarea-output .copy-button-container {
    position: absolute;
    right: 30px;
    bottom: 20px;
}

.textarea-output .token-display-container {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-size: 16px;
    color: grey;
}