
.theme-light {
    background-color: rgb(245, 247, 248);

    --text-color: black;
    --title-color: rgb(9, 26, 43);
    
    --field-color: rgb(208, 212, 214);
    --field-color-hover: rgb(198, 223, 255);
    
    --icon-theme-color: black;
}

.theme-dark {
    background-color: rgb(23, 23, 23);

    --border-color: rgb(118, 118, 118);
    
    --text-color: white;
    --title-color: rgb(180, 180, 172);

    --field-color: rgb(47, 47, 47);

    --slot-color: rgb(47, 47, 47);
    --slot-hover-color: rgb(83, 83, 83);
    --slot-select-color: rgb(62, 65, 74);

    --icon-theme-color: rgb(180, 181, 184);

    --warn-color: rgb(236, 57, 54);
    --warn-background-color: rgb(73, 53, 53);

    --button-border-color : rgb(104, 104, 104);
    --button-color: rgb(52, 52, 53);
    --button-hover-color: rgb(57, 57, 57);

    --dropdown-light-color : rgb(60, 60, 60);
    --dropdown-light-hover-color : rgb(81, 81, 81);

    --input-background-color : rgb(241, 241, 241);
    --text-field-color : rgb(56, 56, 56);

    --text-field-preview-color : rgb(51, 57, 62);
    --text-field-hr-color : rgb(134, 134, 134);

    --tooltip-text-color : rgb(191, 191, 191);
    --tooltip-background-color : rgb(47, 47, 47);
    --tooltip-border-color : rgb(68, 68, 68);
}
