.fontstyle {
    font-family: 'NanumGothic', sans-serif;
}
.block {
    display: block;
}
.clickable {
    cursor: pointer;
}

.button-theme-change {
    color : white;
    font-size: 30px;
}

.icon-button-container {
    width : 40px;
    height : 40px;
}
.icon-clickable-animation {
    cursor: pointer;
    transform: scale(1.0);
    font-size: 1em;
    color: var(--icon-theme-color);
    transition: font-size 0.3s ease;
}
.icon-clickable-animation:hover {
    font-size: 1.1em;
}
.icon-clickable-animation:active {
    font-size: 0.9em;
}
.warning {
    color: rgb(194, 111, 111) !important;
}

.warning-display-container {
    position: absolute;
    left: 10px;
    bottom: 30px;
    font-size: 16px;
    color: rgb(194, 111, 111) !important;
}
.seperate-section-width {
    width: 48px;
}

.span-button-container {
    position:relative;
}

#markdown-button {
    color: rgb(91, 126, 169);
}

.span-button {
    color: white;
}

.span-button {
    position:absolute;
    cursor: pointer;
    transition: font-size 0.3s ease,
                color 0.2s ease;
}   

.span-button:hover {
    font-size: 1.1em;
}

.span-button:active {
    font-size: 0.8em;
}

.font-clickable {
    transition: 0.1s font-size ease ;
}

.font-clickable:hover {
    font-size: 1.1em;
}