html, body {
  height: 100%;
  overflow : hidden;
}

div, header, footer, main, aside, nav {
  display: flex;
}

.flex-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.noflex {
  display: flex;
  flex: none;
}
  
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.row-reverse {
  display: flex;
  flex-direction: row-reverse;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.nopadding {
  padding: 0px;
}

.nomargin {
  margin: 0px;
}

.mainaxis-start {
  justify-content: flex-start;
}
.mainaxis-center {
  justify-content: center;
}
.mainaxis-end {
  justify-content: flex-end;
}

.main-start {
  justify-content: flex-start;
}
.main-center {
  justify-content: center;
}
.main-end {
  justify-content: flex-end;
}
.main-spacebetween {
  justify-content: space-between;
}
.main-spaceevenly {
  justify-content: space-evenly;
}
.main-spacearound {
  justify-content: space-around;
}
.sub-start {
  align-items: flex-start;
}
.sub-center {
  align-items: center;
}
.sub-end {
  align-items: flex-end;
}
.sub-spacebetween {
  align-items: space-between;
}
.sub-spaceevenly {
  align-items: space-evenly;
}
.sub-spacearound {
  align-items: space-around;
}

.subaxis-start {
  align-items: flex-start;
}

.subaxis-center {
  align-items: center;
}

.subaxis-end {
  align-items: flex-end;
}

.flex {
  flex: 1;
}

.hide {
  display: none;
}

.fill {
  display: flex;
  width: 100%;
  height: 100%;
}

.wfill {
  width: 100%;
}

.hfill {
  height : 100%;
}

.bold {
  font-weight: bold;
}