:root {
    --dropdown-bgcolor: rgba(24, 24, 24, 0.8);
    --dropdown-hover-bgcolor: rgba(182, 182, 182, 0.5);


    --dropdown-font-size: 1em;
    --dropdown-font-weight : 450;
    --dropdown-item-height : 16px;

    --dropdown-header-radius : 8px;
    --dropdown-item-border-radius : 12px;

}

.dropdown-container {
    position: relative;
    box-sizing: border-box;
    
    display: flex;
    justify-content: center;
    align-items: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.dropdown-header {
    box-sizing: border-box;

    padding: 4px 6px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    color: var(--dropdown-font-color);
    font-size : var(--dropdown-font-size);
    font-weight: var(--dropdown-font-weight);
    background-color: var(--dropdown-bgcolor);
    border-radius: var(--dropdown-header-radius);

    transition : background-color 0.1s ease;
    &:hover {
        background-color: var(--dropdown-hover-bgcolor);
    }
}

.dropdown-list {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    box-sizing: border-box;
    
    position: absolute;
    display: flex;
    flex-direction: column;

    font-size : var(--dropdown-font-size);
    border: 1px solid var(--dropdown-border-color);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-bgcolor);
    border-radius: var(--dropdown-item-border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.dropdown-item {
    cursor: pointer;
    padding: 8px 4px;
    box-sizing: content-box;

    border-radius: var(--dropdown-item-border-radius);
    font-weight: var(--dropdown-font-weight);
    height: var(--dropdown-item-height);

    display: flex;
    flex-grow : 1;
    white-space: nowrap;
    align-items : center;

    transition : background-color 0.1s ease;
    &.dropdown-array {
        cursor: default;
    }
    &:hover {
        background-color: var(--dropdown-hover-bgcolor);
    }
}

.dropdown2.model-provider .dropdown2-header {
    background-color: transparent;
}
.dropdown2.model-provider .dropdown2-header:hover {
    background-color: var(--dropdown-model-provider-hover-background-color);
    border-radius: 10px;
}
