:root {
    --dropdown-font-weight : 450;
    --dropdown-font-size : 20px;
    --dropdown-header-border-radius : 18px;
    --dropdown-item-border-radius : 12px;
    --dropdown-item-height : 15px;
}
.theme-dark {
    --dropdown-background-color : rgb(47, 47, 47);
    --dropdown-hover-color : rgb(55, 55, 55);
    --dropdown-hover-background-color : rgb(66, 66, 66);
    --dropdown-font-color : white;
    --dropdown-item-color : #f1f1f124;
    --dropdown-model-provider-hover-background-color : rgba(66, 66, 66,0.3);
}


.dropdown {
    position: relative;
    display: inline-block;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
}

.dropdown-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    font-size : var(--dropdown-font-size);
    font-weight: var(--dropdown-font-weight);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-background-color);
    border-radius: var(--dropdown-header-border-radius);
    
    padding: 10px 10px;
}

.dropdown-header:hover {
    background-color: var(--dropdown-hover-background-color);
}

.dropdown-list {
    list-style-type: disc;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;

    font-size : var(--dropdown-font-size);

    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid var(--dropdown-border-color);
    color: var(--dropdown-font-color);
    background-color: var(--dropdown-background-color);
    border-radius: var(--dropdown-item-border-radius);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    flex-direction: column;
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    border-radius: var(--dropdown-item-border-radius);
    font-weight: var(--dropdown-font-weight);
    height: var(--dropdown-item-height);
    white-space: nowrap;
    display: flex;
    flex-grow : 1;
}

.dropdown-item:hover {
    background-color: var(--dropdown-item-color);
}

.dropdown.model-provider .dropdown-header {
    background-color: transparent;
}
.dropdown.model-provider .dropdown-header:hover {
    background-color: var(--dropdown-model-provider-hover-background-color);
    border-radius: 10px;
}