.profile-button {
    border-radius: 15px;
    cursor: pointer;
    transition: 0.15s ease background-color, 0.15s ease color;
    color : var(--subtext-color);
}

.profile-button:hover {
    color : var(--text-color);
    background-color : var(--button-hover-color);
}
