.rt-type-select {
    background-color: transparent;
    border-radius: 8px;

    transition: background-color 0.15s ease;

    &:not(:global(.disabled)):hover {
        background-color: rgba(154, 154, 154, 0.2);
        cursor: pointer;
    }

    &:global(.disabled) {
        // background-color: rgba(154, 154, 154, 0.1);
        color: grey;
        cursor: inherit;
    }
}