:global(.theme-dark) {
    --avatar-popover-bgcolor: rgb(37, 37, 37);
    --avatar-popover-border-color: rgb(61, 68, 77);
}

.avatar-container {
    box-sizing: border-box;
    position : relative;
    aspect-ratio: 1/1;
    height : 100%;
    
    .avatar-label {
        width : 100%;
        height : 100%;
        padding: 4px;
        border-radius: 100%;
        cursor: pointer;

        transition: background-color 0.1s ease;
        &:hover {
            background-color: rgba(150, 150, 150, 0.329);
        }

        .avatar {
            box-sizing: border-box;
            width: 100%;
            height : 100%;
            background-color: white;
            border-radius: 100%;
        }
    }
    
    .avatar-popover {
        position : absolute;
        z-index: 1;
        top: calc(100% + 4px);
        right: 0px;
        border: 1px solid var(--avatar-popover-border-color);
        color: var(--text-color);
        background-color: var(--avatar-popover-bgcolor);
        padding : 4px 8px;
        border-radius: 8px;
    }
}


// .tab {
//     position: relative;
//     background-color: transparent;
//     border-radius: 0px 0px 8px 8px;
//     margin: 0px 2px;
//     z-index: 5;

//     &:not(:active) {
//         transition : left 0.3s ease, background-color 0.15s ease;
//     }

//     &:hover {
//         background-color: rgba(255, 255, 255, 0.05);
//     }
//     &.enabled {
//         background-color: var(--bgcolor);
//     }
//     &:not(.enabled) {
//         background-color: var(trasparent);
//     }

//     &:not(.enabled):hover {
//         .hover-effect {
//             background-color: rgba(255, 255, 255, 0.05);
//         }
//     }
//     &.smooth {
//         transition : left 0.3s ease;
//     }

//     &.instant {
//         transition: none;
//     }
    
//     .close-button {
//         cursor: pointer;
//         border-radius: 20px;
//         transition : 0.1s ease background-color;
//         &:hover {
//             background-color: rgba(255, 255, 255, 0.1);
//         }
//     }
// }